*{
    margin: 0;
    padding: 0;
    }
    .container{
        margin-left: 39%;
        

    }
    

.nav-bar{
    background-color: #f7bd34;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
   position: sticky;
   top: 0;
   z-index: 1;
    
    
}
.nav-bar a{
  text-decoration: none;
  color: black;  
  text-transform: capitalize;
  font-weight: bold;

}
.nav-bar a:hover{
    text-decoration: underline black;
}
.main-page{
    margin-top: 10%;
    margin-left: 13%;
    display: flex;
    
}
.one-side{
    text-transform: capitalize;
    font-size: larger;
    font-weight: bold;
}
.image-side{
    margin-left: 32%;
    
    
    margin-bottom: 40px;
}
.image-side img{
    width: 120%;
    height: 100%;
}
.one-side input{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
.para{
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
    
}
.para h2{
    margin-right: 30px;
}
.cards{
    margin-top: 60px;
}
.cards h2{
    margin-left: 50px;
    display: flex;
}
.card-nav{
    margin-left: 50px;
    margin-top: 20px;
   
    
    
}

.card-nav img:hover{
    transform: scale(1.1);
}


.card-nav img{
    width: 20%;
    border-radius: 10px;
    border: 1px solid black;
    
    

    
 
}
.card-nav  img button{
top: -120px;
position: absolute;
display: block;
}
.img2{
    height: 250px;
    margin-left: 5%;
}
 
    

.img3{
height: 250px;
margin-left: 5%;
margin-right: 5%;

}
 h2{
    margin-left: 50px;
    margin-top: 40px;
 }   
 .img4{
    height: 250px;
    margin-left: 3.4%;
 }
 .img5{
    height: 250px;
    
 }
 .img6{
    height: 250px;
    margin-top: 20px;
    
 }
 .img7{
    height: 250px;
    margin-top: 20px;
    margin-left: 5%;
 }
 .img8{
    height: 250px;
    margin-top: 20px;
    margin-left:5% ;
 }
 .img9{
    height: 250px;
    margin-top: 20px;
    margin-left: 5%;
 }
.contact-nav{
    margin-top: 40px;
    text-align: center;
    margin-left: 30%;
    font-weight: 200;
    background-color: #f7bd34;
    width: 40%;
    height: 80px;
    padding-top: 30px;
    border-radius: 10px;
}
.logo{
    
    display: flex;
   margin-left: 40%;
   margin-top: 15px;


}

.logo2{
    padding-left: 10px;
}
.logo3{
    padding-left: 10px;
}
.last-container{
    display: flex;
    margin-top: 80px;
    background-color: #f7bd34;
}
.last-nav a{
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}
.last-nav a:hover{
    text-decoration: underline;
}
.address{
    margin-left: 200px;
    margin-top: 50px;
}
.address p{
    margin-top: 10px;
}
.last-nav{
    margin-left: 200px;
    margin-top: 50px;
}
.footer img{
    margin-left: 100%;
    width: 250px;
    margin-top: 40px;
    
}

@media(max-width:900px){
    .container img{
        margin-right: 30px;
        width: 200px;
        margin-top: 20px;
    }
    .img-side img{
        margin-left: 20px;
        width: 200px;
        margin-top: 20px;
    }
    .one-side h2{
        font-size: 30px;
        font-weight: 700px;
    }
    .card-nav{
        display: grid;
        justify-content: space-evenly;
    }
    .card-nav img{
        display: grid;
        margin-bottom: 10px;
        height: 250px;
        width: 200px;
        margin-right: 50px;
    }
}


    




